h2 {
    font-size: 3rem;
}

.promo-header {
    margin: 3rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right, #00B0FF, #005DB5);
}

.promo-container {
    background-color: white;
    border: double black 7px;
    margin: 3rem;
    width: 70%;
    text-align: center;
}