* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(0, 176, 255), rgb(153, 223, 255));
}