* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 3rem;
    background-color: #2141FF;
}

h1 {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

header > p {
    text-align: center;
    font-size: 3rem;
    color: white;

}