div.positioning {
display: flex;
    justify-content: flex-end; 
    align-items: center;      
    gap: 15px;                
    margin-top: 1rem;
    margin-right: 6rem;
}

.username-welcome {
    font-size: 1.1rem;
    font-weight: bold;
}

.logout-button {
    background-color: black;
    color: white;
    border-radius: .5rem;
    padding: .4rem 1rem;
    cursor: pointer;
    border: none;
}

button {
    background-color: black;
    color: white;
    border-radius: .5rem;
    padding: .4rem;
    cursor: pointer;
}